In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import geopandas as gpd
import geoplot as gplt
import geoplot.crs as gcrs
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import matplotlib as mpl

gd_src = '../geodata/{}/{}-c005-s010-vw-pr.geojson'
onemil_src = './node_modules/preprocessing/data/1Mdataset.csv'
nc_src = '../well_data/src_data.csv'

In [2]:
def load_gd(level='dis'):
    return gpd.read_file(
        gd_src.format(level, level)
    )

In [3]:
def disp_gd(level):
    gd = load_gd(level)
    gd.info()
    print(gd.head())
    gplt.polyplot(
        gd, 
        projection=gcrs.AlbersEqualArea(), 
        edgecolor='blue', 
        linewidth=0.05,
        figsize=(10,10)
    )

In [4]:
def load_wells(src=nc_src):
    return pd.read_csv(src)

In [7]:
gdf = load_gd('mou')
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 58188 entries, 0 to 58187
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      0 non-null      object
 1   div       58155 non-null  object
 2   dis       58158 non-null  object
 3   upa       58157 non-null  object
 4   uni       58154 non-null  object
 5   mou       57097 non-null  object
 6   geometry  58187 non-null  geometry
dtypes: geometry(1), object(6)
memory usage: 3.1+ MB

10

In [22]:
print(gdf['div'].nunique())
print(gdf['dis'].nunique())
print(gdf['upa'].nunique())
print(gdf['uni'].nunique())
print(gdf['mou'].nunique())

10
65
480
4131
38469

In [26]:
print(load_gd('mou')['div'].unique())
print('--------------------------------')
print(load_gd('div')['div'].unique())

['Rangpur' 'Mymensingh' None 'Mymensing' 'Rajshahi' 'Sylhet' 'Dhaka'
 'Chittagong' 'Khulna' 'Barisal' 'Chittagon']
--------------------------------
['Mymensingh' 'Khulna' 'Sylhet' 'Rajshahi' 'Rangpur' 'Dhaka' 'Barisal'
 'Chittagong']

In [17]:
df = load_wells()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868678 entries, 0 to 868677
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Division  868678 non-null  object
 1   District  868678 non-null  object
 2   Upazila   868678 non-null  object
 3   Union     868678 non-null  object
 4   Mouza     868678 non-null  object
 5   Depth     868678 non-null  float64
 6   Arsenic   868678 non-null  float64
dtypes: float64(2), object(5)
memory usage: 46.4+ MB
0         Rangpur
1         Rangpur
2         Rangpur
3         Rangpur
4         Rangpur
           ...
58183    Rajshahi
58184      Sylhet
58185      Sylhet
58186    Rajshahi
58187     Barisal
Name: div, Length: 58188, dtype: object
0         Rangpur
1         Rangpur
2         Rangpur
3         Rangpur
4         Rangpur
           ...
58183    Rajshahi
58184      Sylhet
58185      Sylhet
58186    Rajshahi
58187     Barisal
Name: div, Length: 58188, dtype: object

In [27]:
print(df['Division'].nunique())
print(df['District'].nunique())
print(df['Upazila'].nunique())
print(df['Union'].nunique())
print(df['Mouza'].nunique())

8
63
445
2838
9550